<a href="https://colab.research.google.com/github/Ayesha-0810/Akshata0816/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### 1. What are data structures, and why are they important?  
Data structures are ways of organizing and storing data to perform operations efficiently. They help manage and process data effectively in programs.

### 2. Explain the difference between mutable and immutable data types with examples.  
Mutable types can be changed after creation (e.g., lists), while immutable types cannot be changed (e.g., strings, tuples).  
Example:  
list1 = [1, 2] → Mutable  
tuple1 = (1, 2) → Immutable

### 3. What are the main differences between lists and tuples in Python?  
- Lists are mutable; tuples are immutable.  
- Lists use more memory; tuples are faster.  
- Syntax: Lists → [], Tuples → ().

### 4. Describe how dictionaries store data.  
Dictionaries store data in key-value pairs using a hash table internally. Each key must be unique.

### 5. Why might you use a set instead of a list in Python?  
Sets automatically remove duplicates and are faster for checking membership.

### 6. What is a string in Python, and how is it different from a list?  
A string is a sequence of characters (immutable), whereas a list is a sequence of elements (mutable and can hold various data types).

### 7. How do tuples ensure data integrity in Python?  
Tuples are immutable, so their contents cannot be changed, ensuring the data stays constant.

### 8. What is a hash table, and how does it relate to dictionaries in Python?  
A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

### 9. Can lists contain different data types in Python?  
Yes, lists can hold items of different data types.

### 10. Explain why strings are immutable in Python.  
Strings are immutable for performance and security; each change creates a new string.

### 11. What advantages do dictionaries offer over lists for certain tasks?  
Dictionaries allow fast lookup, insertion, and deletion using keys, unlike lists which require searching by index or value.

### 12. Describe a scenario where using a tuple would be preferable over a list.  
Use a tuple to store GPS coordinates that shouldn't change: (19.07, 72.87).

### 13. How do sets handle duplicate values in Python?  
Sets automatically remove duplicate values.

### 14. How does the "in" keyword work differently for lists and dictionaries?  
- In a list: checks for presence of a value.  
- In a dictionary: checks for presence of a key.

### 15. Can you modify the elements of a tuple? Explain why or why not.  
No, because tuples are immutable and cannot be changed after creation.

### 16. What is a nested dictionary, and give an example of its use case?  
A dictionary inside another dictionary.  
Example:  
student = {"name": "Ali", "grades": {"math": 90, "science": 85}}

### 17. Describe the time complexity of accessing elements in a dictionary.  
Accessing elements by key has average time complexity of O(1).

### 18. In what situations are lists preferred over dictionaries?  
When order matters or when storing simple, sequential data without keys.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
Earlier versions of Python didn’t maintain order; now they do (since 3.7), but key-based access means order usually doesn't matter.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.  
- List: access by index (e.g., list[0])  
- Dictionary: access by key (e.g., dict["name"])

---

In [1]:
#1. Create a string with your name and print it.
name = "Akshata"
print(name)

Akshata

In [2]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [11]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [13]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [17]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [20]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

In [25]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [26]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [27]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [29]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [30]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [31]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [35]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

In [36]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Alice', 'age': 25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'name': 'Alice', 'age': 25}

In [37]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
my_list = [random.randint(1, 100) for _ in range(5)]
my_list.sort()
print(my_list)

[6, 43, 61, 65, 81]

In [38]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [39]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [40]:
# 30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'apple', 'cherry']
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}